@page "/izdelki"
@inject HttpClient Http
@using blazor_n8.Models
@using Microsoft.AspNetCore.Components.Forms
@using System.Globalization

@namespace blazor_n8

<h3>Izdelki</h3>
<button class="btn btn-primary" @onclick="() => UrediIzdelek(new Izdelek())">Dodaj Izdelek</button>

<div class="mb-3">
    <select @onchange="ObSpremembiAtributa" class="form-select btn btn-secondary">
        <option value="Naziv">Naziv</option>
        <option value="Kategorija">Kategorija</option>
        <option value="Cena">Cena</option>
    </select>

    <button class="btn btn-secondary" @onclick="() => SmerSortiranjaSpremenjena()">Sortiraj: @(sortiranjePadajoce ? "Padajoče" : "Naraščajoče")</button>
</div>

@if (izdelki == null)
{
        <p><em>Nalaganje...</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th @onclick='() => Sortiraj("Naziv")'>Naziv</th>
            <th>Opis</th>
            <th @onclick='() => Sortiraj("Kategorija")'>Kategorija</th>
            <th @onclick='() => Sortiraj("Cena")'>Cena</th>
            <th>
                <button class="btn btn-secondary" @onclick="() => PrikaziDobavitelje(-1)">Skrij</button>
            </th>
            <th>Odstrani</th>
            <th>Uredi</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var izdelek in izdelki)
    {
        <tr>
            <td>@izdelek.Id</td>
            <td>@izdelek.Naziv</td>
            <td>@izdelek.Opis</td>
            <td>@izdelek.Kategorija</td>
            <td>@izdelek.Cena</td>
            <td>
                <button class="btn btn-info" @onclick="() => PrikaziDobavitelje(izdelek.Id)">Prikaži Dobavitelje</button>
            </td>
            <td>
                <button class="btn btn-danger" @onclick="() => OdstraniIzdelek(izdelek)">Odstrani</button>
            </td>
                <td>
            <button class="btn btn-secondary" @onclick="() => UrediIzdelek(izdelek)">Uredi</button>
        </td>
        </tr>
    }
    </tbody>
</table>
<h5>Povprečna cena: @povprecnaCena</h5>
<h5>Izdelek z najvišjo ceno: @izdelekNajvisjaCena.Id | @izdelekNajvisjaCena.Naziv | @izdelekNajvisjaCena.Cena</h5><br/><br/>

var najvisjaCena = izdelki.Max(i => i.Cena);

<br>
<h5>Cene izdelkov:</h5>
<div style="overflow-y: auto; max-height: 500px;">
    @foreach (var izdelek in izdelki)
    {
        var barWidth = (izdelek.Cena / najvisjaCena) * 100;
        <div style="margin-bottom: 10px;">
            <div style="width: 200px; display: inline-block; vertical-align: middle;">
            @izdelek.Naziv
            </div>
                    <div style="width: @(barWidth.ToString("0.00", CultureInfo.InvariantCulture))%; max-width: 60%; height: 20px; background-color: skyblue; display: inline-block; vertical-align: middle; margin: 0; padding: 0;">
                &nbsp;
            </div>
            <span style="padding-left: 5px;">@izdelek.Cena €</span>
        </div>
    }
</div>
}

@if (dobavitelji != null)
{
        <br>
            <h4>Dobavitelji za izbrani izdelek</h4>
            <ul>
        @foreach (var dobavitelj in dobavitelji)
        {
                    <li>@dobavitelj.Naziv</li>
        }
            </ul>
            <br>
}

@if (trenutniIzdelek != null)
{
    <EditForm Model="trenutniIzdelek" OnValidSubmit="ShraniIzdelek">
        <InputText @bind-Value="trenutniIzdelek.Naziv" />
        <InputText @bind-Value="trenutniIzdelek.Opis" />
        <InputText @bind-Value="trenutniIzdelek.Kategorija" />
        <InputNumber @bind-Value="trenutniIzdelek.Cena" />
        <button type="submit" class="btn btn-success">Shrani</button>
    </EditForm>
}